header{
    background-color: lightblue;
    padding: 5px;
}

body {
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: blue;
    background-color: lightblue;
    font-size:50px;
}

footer{
    background-color: aqua;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer p{
    background-color: white;
}

nav{
    border: 1px solid navajowhite;
    margin-top: 5px;
}

nav a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    background-color: lightblue;
    
}

main{
    font-size: 20px;
    margin:10px;

}

h2{
    color:blue;
}
